@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.card-container{
    padding: 0 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: auto ;
}

.project-card{
    width: 327px;
    border-radius: 8px;
    background: #EBF0EE;
    border: 1px solid #D0D9D4;
}

.descriptions{
    position: relative;
    margin-top: 252px;
    border-radius: 8px;
    padding: 16px;
    height: 222px;
    background: #FFFFFF;
}

.card-title{
    width: 295px;
    height: 57px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3A4A42;
}

.grid-container {
    display: grid;
    gap: 8px;
    margin-top: 16px;
    grid-template-columns: auto auto auto auto;
}

.item{
    border-radius: 4px;
    padding: 12px 8px;
    background: #EBF0EE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3A4A42;
}


.see-project-btn{
    padding: 12px;
    background: #36B37F;
    border-radius: 4px;
    position: absolute;
    width: 122px;
    left: calc(50% - 122px/2 + 0.5px);
    bottom: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: transparent;
    color: #FFFFFF;
}


/* @media only screen and (max-width: 768px) {
    .card-container{

        grid-template-columns: auto ;
    }
} */
